---
import Layout from "../layouts/Layout.astro";
import {getAllBooks} from "../utils/bookshelf";

const books = await getAllBooks();

---

<Layout title="Jeet | bookshelf">
  <p class=" text-white mb-4">
    <span>i like to read, in general. i have been reading biography and science books ever since i was a kid. often times, i read some blogs or newsletters.</span>
  </p>
  <span class="text-white">here is the list of all the books i've read so far.</span>
  <div class="mt-4">
    <ul class="list-disc ml-6">
      {books.map(book => 
        <li class="text-white text-md">
          <span class="text-red-700">{book.name}</span> <span class="text-xs"> - {book.author}</span>
        </li>
      )}
    </ul>
  </div>
</Layout>