---
import Layout from '../layouts/Layout.astro'; 
---

<Layout title="home">
	<main class="text-zinc-100 font-ubuntu">
		<h1 class="text-zinc-100 mb-8 text-3xl font-semibold">
			Subhajit Das
		</h1>
		<p class="text-zinc-100 my-4 text-[16px]">
			Hi there, I'm Subhajit, but my friends call me Jeet. I grew up in India, but nowadays roaming around in America. I've got an engineering degree in computer science for societal pressure, although I've been building (mostly breaking) stuff ever since I was a kid. 
		</p>
		<ul class="text-zinc-100 pt-2 flex flex-col my-6 ml-4 list-disc text-[16px]">
			<li class="mt-2">
				<a class="hover:text-zinc-400 decoration-2 decoration-neutral-400" href="https://github.com/0verread">
					github
				</a>
			</li>
			<li class="mt-2">
				<a class="hover:text-zinc-400 decoration-2 decoration-neutral-400" href="https://twitter.com/subhajitsda">
					twitter
				</a>
			</li>
			<li class="mt-2">
				<a class="hover:text-zinc-400 decoration-2 decoration-neutral-400" href="https://www.linkedin.com/in/subhajitsda/">
					linkedin
				</a>
			</li>
		</ul>
	</main>
</Layout>
