---
const currentPath = new URL(Astro.request.url).pathname.slice(1);
---

<nav
  class="relative flex flex-row justify-items-start space-x-4 items-start px-0 pb-0 mb-10 font-ubuntu text-[16px]"
>
  <a
    class={currentPath === ""
      ? "flex text-zinc-400"
      : "flex text-zinc-200 hover:text-zinc-400"}
    href="/"
  >
    home
  </a>
  {
    /* <a
    className="flex text-white hover:underline decoration-neutral-400 decoration-2 underline-offset-4"
    href="/projects"
  >
    projects
  </a> */
  }

  <!-- hack: on vercel prod, currentPath has tailing slash. e.g. /blog -> /blog/ see more: https://github.com/withastro/astro/issues/5248 -->
  <a
    class={currentPath === "bookshelf/"
      ? "flex text-zinc-400"
      : "flex text-zinc-200 hover:text-zinc-400"}
    href="/bookshelf"
  >
    bookshelf
  </a>
  <a
    class={currentPath === "blogs/"
      ? "flex text-zinc-400"
      : "flex text-zinc-200 hover:text-zinc-400"}
    href="/blogs"
  >
    blogs
  </a>
</nav>
