---
import Header from '../components/Header.astro';
import '@fontsource/ubuntu';
import '../styles/app.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title> Jeet | {title}</title>
	</head>
	<body class="mt-4 bg-[#142456] mx-4 lg:mx-20 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_22px]">
		<Header />
		<slot />
	</body>
</html>
